root = true

[*]
indent_style = tab
indent_size = tab
tab_width = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = 120